This notebook containst the work for the week 3 submission

In [41]:
# import the required libraries
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd

In [61]:
# get the data from the wiki page and find the table
url = r"https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page, "lxml")
right_table=soup.find('table', class_='wikitable sortable')

In [63]:
# extract data from the table into three columns ( in the form of lists A, B and C)
A = []
B = []
C = []

for row in right_table.findAll('tr'):
    cells = row.findAll('td')
    if len(cells) == 3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [72]:
# put the data into a pandas dataframe
df = pd.DataFrame(A, columns=['Postal_Code'])
df['Borough'] = B
df['Neighbourhood'] = C
df.head()

  Postal_Code            Borough               Neighbourhood
0        M1A
      Not assigned


1        M2A
      Not assigned


2        M3A
        North York
                  Parkwoods

3        M4A
        North York
           Victoria Village

4        M5A
  Downtown Toronto
  Regent Park, Harbourfront

In [73]:
# note the strings are messy with a line break '\n
df.iloc[0,1]

'Not assigned\n'

In [74]:
# remove the line breaks from all the cells in the dataframe
df = df.replace('\n','', regex=True) 
df.iloc[0,1]

'Not assigned'

In [77]:
# remove those rows where Borough = 'Not Assigned'
df = df[df['Borough'] != 'Not assigned']
df.head()

  Postal_Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [78]:
#show the shape of the dataframe
df.shape

(103, 3)